@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --black: 0, 0, 0;
  --opacityBlack: 0, 0, 0, 0.5;
  --purple: 128, 0, 128;
  --white: 255, 255, 255;
  --opacityPurple: 128, 0, 128;
  --inputBtn: rgba(128, 0, 128, 0.785);
}
html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(var(--purple));
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", system-ui;
}

.dark {
  --inputBtn: rgb(var(--white) 0.4);
  .cardLoader {
    border-top: 3px solid rgb(var(--purple)) !important;
    border-color: white;
  }
  .loader {
    border-top: 16px solid rgb(var(--purple)) !important;
    border-color: white;
  }
  background-color: rgb(var(--black), 0.862);
  color: rgba(255, 255, 255, 0.916);

  /* Nav */
  .navBar{
  box-shadow: 0px 0px 3px 1px rgb(var(--white), 0.3);

  }
  .navBar::before {
    background-color: rgba(43, 43, 43, 0.664);
  }

  .nav > a {
    color: rgb(255, 255, 255, 0.9);
  }
  .active {
    background-color: rgb(var(--purple)) !important;
    border: 1px solid white;

    a {
      color: white !important;
    }
  }
  /* /*svgs */
  svg {
    fill: white;
  }
  .svg:hover {
    stroke: rgb(var(--purple));
  }

  .comName {
    color: rgb(255 121 255);
  }

  /* HERO */
  #hero {
    background: linear-gradient(
      to top,
      rgb(var(--black), 1),
      transparent 0%,
      rgb(var(--purple), 0.5)
    );

    button {
      color: #000;
      background-color: rgba(255, 255, 255, 0.82);
    }
    .buttonCon > a:nth-child(2) > .headerBtn {
      color: white;
      background-color: rgb(var(--purple)) !important;
      border-color: white;
    }
    button:hover {
      color: white;
    }
  }
  .CTAbutton {
    color: rgb(var(--white));
    border-color: rgb(var(--white));
  }
  .heroTop {
    background: linear-gradient(to right, white, rgb(var(--purple)));
    background-clip: text;
  }

  p {
    color: whitesmoke;
  }

  /* about */
  .aboutH1 {
    color: rgb(171, 112, 216);
  }
  .aboutSmall {
    color: rgba(255, 255, 255, 0.836);
  }

  #getStarted {
    background-color: rgba(57, 57, 57, 0.596);
  }
  .startedH1 {
    color: white;
  }
  .startedBtn {
    background-color: white;
    color: #000;
  }
  .startedBtn:hover {
    color: white;
  }
  /* footer */
  .copyright {
    color: rgba(255, 255, 255, 0.707);
  }
  .footerContainer {
    background-color: rgb(var(--black), 0.85);
    .logoContainer {
      h4 {
        color: rgba(255, 255, 255, 0.703);
      }
    }
  }
  /* Register/login form */
  .h1 {
    color: rgb(var(--white), 0.9);
    border: 1px solid rgb(var(--white), 0.9) !important;
  }
  .formWrapper {
    border-color: var(--white);
    background-color: transparent;
  }
  .form-input {
    color: rgb(var(--white), 0.9);
    background-color: rgb(var(--black), 0);
  }
  input::placeholder {
    color: rgb(var(--white), 0.5) !important;
  }

  .regLogInput:focus,
  div.regLogInput:focus {
    border-color: var(--inputBtn) !important;
  }
  .regLogInput {
    background-color: rgb(var(--black));
  }
  div.regLogInput .inputSvgCon svg {
    fill: none;
    stroke: rgb(var(--white));
  }
  .inputSvgCon {
    background-color: inherit;
  }

  .googleH3 {
    color: rgb(var(--white), 0.9);
  }
  .google,
  .google:hover {
    border-color: rgb(var(--white), 0.9);
    background-color: rgb(var(--black), 0.4);
    color: rgb(var(--white), 0.9);
  }
  .registerLogin {
    color: rgb(221, 124, 221);
    text-decoration: underline;
  }
  .formBtn {
    border-color: rgb(var(--white), 0.9);
  }

  /* Lyrics form */
  .formCon {
    background-color: rgb(var(--black), 0.2);
  }

  .lyricForm {
    border-right-color: white;

    input {
      background-color: rgb(34, 34, 34);
      color: rgb(var(--white), 0.9);
    }
    input::placeholder {
      color: rgb(var(--white), 0.5);
    }
  }

  /* recent lyrics */

  .recentCardContainer {
    background-color: rgb(var(--black), 0.8);
  }

  .recentTitle {
    color: rgb(var(--white), 0.85);
  }

  .recentLyrics {
    color: rgb(var(--white), 0.85);
  }
  .deleteSvg {
    fill: red;
  }
  .see {
    color: rgb(240, 143, 240);
  }

  .copy {
    background-color: rgb(var(--white));
    border-radius: 10px;
  }

  .logout {
    background-color: rgb(var(--black), 0.8);
    border-color: white;
  }
  .logout::after {
    border-color: transparent transparent white transparent;
  }
  .cancelLogout {
    fill: white !important;
  }

  .saveText {
    background-color: white;
    color: #000;
  }
  .saveText::after {
    border-color: transparent transparent white transparent;
  }

  .overlayContainer {
    background-color: #000;
  }

  .accessDenied > h1 {
    color: white;
  }

  #footer {
    background-color: rgb(var(--black), 0.85);
  }

  @media (max-width: 800px) {
    .nav-items {
      background-color: rgb(var(--purple), 0.5);
      backdrop-filter: blur(10px);
      border-left: 1px solid purple;
    }
  }
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  cursor: url(/images/svg/x.svg), auto;
}
.shut {
  display: block;
}

section {
  padding: 1em 2em;
}
.h1 {
  color: rgba(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  background-color: rgba(128, 0, 128, 0.192);
  width: fit-content;
  margin: auto;
  text-transform: capitalize;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 0px purple;
  margin-top: 1em;
}
.bars {
  display: none;
  cursor: pointer;
}

.container {
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;

  main {
    flex: 1;
  }
}

body {
  background: url(/background.png);
  transition: 0.3s all ease-in;
}

/* utils */
img {
  max-height: 100%;
  max-width: 100%;
}

button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  justify-content: center;
}
.active {
  background-color: rgb(var(--black), 0.1);
  a {
    color: rgb(var(--purple)) !important;
  }
}

.cardLoader {
  height: 20px;
  width: 20px;
  border: 3px solid rgb(var(--opacityPurple), 0.2);
  border-radius: 50%;
  border-top-color: purple;
  animation: spin 0.5s infinite linear;
  margin-bottom: 0 !important;
}

.CTAbutton {
  padding: 1em 20px;
  cursor: pointer;
  background-color: rgb(var(--opacityPurple), 0.262);
  font-weight: 400;
  font-size: medium;
  border: 1.5px solid purple;
  border-radius: 10px;
  width: 150px;
  transition: 0.3s ease all;
}
.CTAbutton:hover {
  border-color: rgb(var(--purple), 0.5);
  background-color: rgb(var(--purple), 0.2);
}

.comName {
  color: rgb(var(--purple));
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Code */

/* Nav */

.logoContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  img {
    height: 70px;
  }
}

.navBar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 1em;
  z-index: 100;
  padding-left: 2em;
  box-shadow: 0px 0px 3px 1px rgb(var(--black), 0.3);
  position: sticky;
  top: 0;
}
.navBar::before {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.697);
  content: "";
  left: 0;
}

.nav {
  font-size: large;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;

  a {
    color: black;
    text-decoration: none;
    background: transparent;
    text-transform: capitalize;
  }
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 15px;
  align-items: center;
}

.navCon {
  display: flex;
  height: min-content;
  gap: 15px;
  margin-right: 1em;
  align-items: center;
}

.theme {
  cursor: pointer;
  height: 25px;
}
.themeContainer {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  position: fixed;
  right: 10px;
  background: rgb(var(--black));
  border-radius: 5px;
  bottom: 80px;
}

/* Hero */

#hero {
  /* background: linear-gradient(138deg,rgb(var(--purple), 0.3), transparent, rgb(var(--purple), 0.3)); */
  background: linear-gradient(
    to top,
    rgb(var(--purple), 0.2),
    transparent 0%,
    rgb(var(--purple), 0.1)
  );
}

.heroContainer {
  text-align: center;
  width: 70%;
  margin: 1em auto;
}
.heroTop {
  font-size: large;
  font-weight: 500;
  color: rgb(var(--opacityBlack));
  background: linear-gradient(to right, black, rgb(var(--purple)));
  background-clip: text;
  color: transparent;
}
.heroH1 {
  text-transform: capitalize;
  padding: 10px;
  font-size: 65px;
  text-align: center;
  font-weight: 500;
  margin: 20px auto;
}

.buttonCon {
  display: flex;
  gap: 30px;
  justify-content: center;

  a > button {
    padding: 20px 10px;
  }
}
.buttonCon > a:nth-child(2) > .headerBtn {
  background-color: white !important;
}
a:nth-child(2) > .headerBtn:hover {
  background-color: rgb(var(--black), 0.3) !important;
  border-color: rgb(var(--purple));
  color: rgb(var(--black));
}

/* About */

#about {
  padding: 1em;
}

@keyframes load {
  0% {
    /* background-color: rgb(212, 212, 212); */
    background-color: rgb(232, 232, 232);
  }
  100% {
    background-color: white;
  }
}

.loadImg {
  height: 100%;
  animation: load infinite 1s ease-in;
  width: 100%;
}

.aboutReverse {
  flex-direction: row-reverse;
  margin: auto auto auto 0 !important;
}

.aboutContainer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
}

.aboutH1 {
  color: rgb(var(--black), 0.8);
  /* color: rgb(var(--black), 0.75); */
  font-size: 30px;
}
.aboutSmall {
  font-size: medium;
  color: rgb(var(--black), 0.65);
}

.textWrapper {
  display: grid;
  gap: 20px;
  width: 50%;
}

/* GetStarted */

#getStarted {
  background-image: url(/images/svg/bg-boost-desktop.svg);
  padding: 2em;
  background-color: rgb(var(--opacityPurple), 0.1);
  color: #00000096;
  /* background-color: #9340bf; */
  text-align: center;
}

.startedH1 {
  font-size: xxx-large;
  text-align: center;
  margin-bottom: 1em;
  color: rgb(var(--black), 0.85);
}

.startedBtn {
  padding: 1em;
  margin: auto;
  border: none;
  background-color: rgb(var(--opacityPurple), 0.8);
  color: white;
  font-size: large;
  width: fit-content;
  border-radius: 30px;
  border: 1px solid purple;
  transition: 0.3s all ease;
}
.startedBtn:hover {
  background-color: rgb(var(--opacityPurple), 0.5);
}

/* Lyric Form */

.formCon {
  /* display: flex;
  flex-direction: column;
  width: fit-content; */
  margin: 2em auto;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border: 1px solid purple;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  height: 350px;
}

.lyricForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
  border-right: 1px solid black;
  div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;

    label {
      font-weight: 400;
      font-size: medium;
    }
  }

  .formError {
    color: red;
    text-transform: capitalize;
  }

  input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid;
  }

  button {
    width: fit-content;

    border-radius: 5px;
  }
}
input:focus,
textarea:focus {
  outline: none;
  border-color: rgb(var(--purple)) !important;
}

.loader {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 16px solid rgb(var(--opacityPurple), 0.5);
  border-top: 16px solid rgb(var(--purple));
  margin: auto;
  position: absolute;
  bottom: 50%;
  left: 45%;
  transform: translate(-50%);
  animation: spin infinite 1s linear;
}
.load2 {
  position: static;
  transform: translate(0);
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.lyrics {
  position: relative;
  padding: 15px;
  overflow: auto;
  padding-left: 0;
  scrollbar-width: thin;
  h1 {
    text-align: right;
    margin: 5px 0;
  }
  p {
    white-space-collapse: break-spaces;
    opacity: 0.85;
  }
}
.grid {
  display: grid;
  place-items: center;

  img {
    height: 200px;
    width: 200px;
  }
}

.fetchLyrics {
  display: flex;
  position: relative;
  gap: 20px;
}
.lyricsSvg {
  position: sticky;
  top: 0;
  fill: red;
  display: flex;
  gap: 20px;
  flex-direction: column;
  cursor: pointer;
  height: fit-content;
  z-index: 1;
}
.saveSvg {
  position: relative;
  display: flex;
}
.saveSvg:hover {
  .saveText {
    visibility: visible;
  }
}
.saveText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 0;
  bottom: -100%;
  z-index: 1;
  position: absolute;
}
.saveText::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 10px;
  margin-top: -18px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.nothingYet {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login/Register */
.formWrapper {
  background-color: white;
  margin: 2% auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 80%;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid hsl(257, 27%, 26%);
  height: 500px;
}
.inputSvgCon {
  height: 100%;
  align-self: center;
  display: grid;
  place-items: center;
  background: rgb(var(--white));
}
.routeForm {
  padding: 2em;
}

.formImg {
  height: 100%;

  img {
    height: 100%;
    width: auto;
  }
}

.registerForm,
.formLogin {
  flex-direction: column;
  background: transparent;
  position: relative;
  width: 90%;
  font-weight: 500;
  text-align: start;
  border: none;
  display: flex;
  gap: 10px;
  margin-bottom: 1%;
}
.form-input::placeholder {
  font-weight: 500;
  color: rgb(var(--black), 0.462) !important;
}

input {
  padding: 0 5px;
}

.regLogInput {
  margin-bottom: 10px;
  height: 40px;
  border: 1.5px solid rgb(var(--opacityBlack));
  padding-left: 1%;
  border-radius: 5px;
  padding: 0 5px;
}
.regLogInput:focus {
  outline: none;
  border: 1.5px solid rgb(var(--opacityPurple), 0.7) !important;
}

form > label {
  text-transform: capitalize;
}
.formBtn {
  width: fit-content;
}

.registerForm,
.formLogin {
  width: 100%;
  input::placeholder {
    color: black;
  }
  input:focus {
    border: 2px solid hsl(257, 27%, 26%);
    outline: none;
  }
}

div.regLogInput {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  padding: 0 !important;
  overflow: hidden;
  input {
    height: 100%;
    border: none;
  }
  svg {
    cursor: pointer;
  }
}
div.regLogInput > input:focus {
  border: none;
}

.googleH3 {
  text-align: center;
  color: rgb(var(--black), 0.7);
  margin: 10px 0;
}

.google {
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(var(--purple), 0.76);
  background-color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  gap: 10px;
  text-align: center;

  font-weight: 600;
  border-radius: 5px;
}

.login2 > h5 {
  font-size: medium;
  text-align: center;
  button {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: large;

    color: rgb(var(--purple));
  }
}

/* recent section */
.recentTitle {
  font-size: large;
  text-align: end;
  margin-bottom: 1em;
  color: rgb(var(--black), 0.8);
}

.recentCard {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.recentCardContainer {
  height: fit-content;
  background-color: whitesmoke;
  border: 1px solid rgb(var(--opacityPurple));
  margin: 1em;
  border-radius: 5px;
  padding: 1em;
  width: 500px;
}

.recentLyrics {
  color: rgb(var(--black), 0.75);
  margin: 1.3em auto;

  button {
    background-color: transparent;
    border: none;
    font-size: medium;
    cursor: pointer;
    color: rgb(var(--opacityPurple), 0.7);
  }
}
.overlayContainer {
  transition: 0.2s all ease;
  white-space: break-spaces;
  border-radius: 0;
  border: none;
  width: 100%;
  border-radius: 5px;
}
.viewMore {
  white-space: break-spaces;
}
.popUpCon {
  width: 90%;
  border-radius: 10px;
  margin: auto;
}

.copy {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
}
.copyCon {
  display: flex;
  justify-content: space-between;
}
.seeMoreLyrics {
  display: flex;
  gap: 20px;
}

.recentArtist {
  text-align: right;
}
.lyricDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.deleteLyrics {
  border: none;
  color: red;
  background-color: transparent;
  font-size: large;
}
.fetchedH1 {
  padding: 1em;
  font-size: xx-large;
  text-align: center;
  font-weight: 900;
}

/* Logout/user */
.user-name {
  border: 5px solid transparent;
  border-radius: 50%;
  transition: 0.2s all ease-in;
}
.user {
  border-radius: 50%;
  background: rgb(var(--opacityPurple), 0.8);
  height: 35px;
  width: 35px;
  display: grid;
  place-items: center;
  border: 1px solid rgb(var(--opacityPurple), 0.5);
  font-weight: 500;
  font-size: large;
  color: white;
}
.user-name:hover {
  border-color: rgb(227, 227, 227);
}
.usersection {
  position: relative;
  cursor: pointer;
}

.logout {
  position: absolute;
  top: 70px;
  transition: all 0.2s ease;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 1em;
  background: white;
  border-radius: 10px;
  border: 1.5px solid purple;
  svg {
    cursor: pointer;
  }
  h5 {
    font-size: medium;
  }
}
.logout::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 80%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(var(--purple)) transparent;
}

.logoutBtn {
  padding: 10px;
  border: none;
  color: red;
  background: transparent;
  font-size: medium;
  font-weight: 500;
  align-items: start;

  svg {
    stroke: red;
    fill: none;
  }
}

/* Footer */
#footer {
  background-color: rgb(var(--opacityPurple), 0.1);
  border-top: 1px solid rgb(var(--purple));
  padding: 1em 0;
  margin: 0;
}
.footerContainer > .logoContainer {
  gap: 10px;

  h4 {
    color: rgb(var(--purple));
  }
}
.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footerSvg {
  display: flex;
  gap: 5px;
  justify-content: right;
  margin-right: 1em;
  flex-direction: column;
  align-items: flex-end;
}
.footSvg {
  display: flex;
  gap: 20px;
}
.svg {
  transition: 0.3s all ease-in-out;
}
.copyright {
  color: rgb(var(--purple), 0.8);
}
.svg:hover {
  fill: rgb(var(--purple));
}

.page404,
.accessDenied {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 100px;
    font-weight: 900;
    color: transparent;
    background-clip: text;
    background-image: url(/images/logoRoute.jpeg);
  }

  h3 {
    text-transform: capitalize;
  }

  p {
    font-size: medium;
    width: 70%;
  }
}

.page404Btn,
.accessDeniedBtn {
  white-space: nowrap;
}

.deniedBtnCon {
  display: flex;
  gap: 10px;
}
.deniedBtnCon > a:nth-child(2) > button {
  background-color: rgb(var(--black), 0.7);
  color: rgb(var(--white));
}

.page404Container,
.accessDeniedContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
  width: 80%;
  margin: auto;
}

@media (max-width: 900px) {
  .heroContainer {
    width: 100%;
  }

  .formWrapper {
    width: 95%;
    grid-template-columns: 1.5fr 1fr;
  }

  .formCon {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .bars {
    display: block;
  }

  .nav-items {
    position: fixed;
    right: -100%;
    flex-direction: column;
    height: 100%;
    width: 200px;
    top: 0;
    z-index: 1000;
    gap: 30px;
    transition: 0.2s all linear;
    justify-content: start;
    padding-top: 1em;
    background-color: rgb(var(--white));
  }
  .navCon {
    flex-direction: row-reverse;
  }
  .logout::after {
    left: 55%;
  }

  .show {
    right: 0;
    display: flex;
  }
  .navCon {
    margin-right: 10px;
  }

  .heroH1 {
    font-weight: 500;
    font-size: 55px;
  }

  .textWrapper {
    width: 95%;
  }

  .aboutContainer {
    padding: 0;
    width: 100%;
  }

  .aboutH1 {
    font-size: 30px;
  }
  .aboutSmall {
    font-size: medium;
  }

  .aboutImgCon {
    width: 100%;
  }

  .accessDeniedContainer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em;
    text-align: center;
  }
  .accessDenied {
    text-align: center;
  }
  .accessDenied > p {
    margin: auto;
  }
  .accessDeniedImgCon {
    height: 400px;
    width: 100%;
  }
  .deniedBtnCon {
    justify-content: center;
  }

  .fetchLyrics {
    gap: 10px;
  }
}

@media (max-width: 750px) {
  .aboutContainer,
  .aboutReverse {
    padding: 1em;
    flex-direction: column-reverse;
  }

  .formWrapper {
    width: 100%;
    grid-template-columns: 1fr;
    height: fit-content;
    position: relative;
    background-color: transparent;
  }

  .formImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    width: 100%;
    img {
      width: 100%;
      filter: grayscale(100%);
    }
  }

  .formCon {
    grid-template-columns: 1fr;
    height: 600px;
  }
  .lyricForm {
    border-right: none;
    border-bottom: 1px solid rgb(var(--black));
  }
  .lyrics {
    padding-left: 10px;
  }

  .recentCardContainer {
    width: fit-content;
  }
}

@media (max-width: 650px) {
  .aboutImgCon {
    text-align: center;
  }

  #getStarted {
    h1 {
      font-size: 35px;
    }
  }

  .accessDeniedContainer {
    width: 100%;
  }

  .heroH1 {
    font-size: 40px;
  }

  .nothingYet {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .heroH1 {
    font-size: 30px;
  }
  .startedH1 {
    font-size: xx-large !important;
  }
}

@media (max-width: 350px) {
  .buttonCon {
    flex-direction: column;
    align-items: center;
  }
  .heroH1 {
    font-size: 20px;
  }
  .heroContainer {
    width: 100%;
  }
  .formWrapper {
    padding: 10px;
  }
  .routeForm {
    align-items: center;
    padding: 1em 0;
  }
  .footerContainer {
    flex-direction: column;
  }

  .accessDeniedImgCon {
    height: 400px;
  }
}
